.outercontainer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 50;
    position: fixed;
    inset: 0;

    max-width: 80%;
    max-height: 80%;
    background-color: rgba(134, 168, 112, 1);
    border-radius: 30px;

    margin: auto auto;
}

