/* styles.css */
.card {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    background-color: #a5b597;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border-radius: 30px;
}

.appContainer{
  background-color: rgb(65, 100, 74);
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
 }