.outercontainer{
    display: flex;
    margin-left: 6%;
}

.help{
    color: #E86A33;
    font-family: Arial;
    font-size: 125px;
    font-style: normal;
    font-weight: 700;
    line-height: 94.8%; /* 118.5px */
    letter-spacing: -4.375px;
}

.reducewaste{
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: #2F2F2F;
    font-family: Arial;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 94.8%; /* 49.296px */
}

.title{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.description{
     height: 60%; 
     max-width: 1210px; 
     margin: auto; 
     border-radius: 100px;
     background: linear-gradient(0deg, #99B080 0%, #99B080 100%), #263a2933;
     color: #E86A33; 
     font-family: Arial; 
     font-weight: 700; 
     display: flex;
     justify-content: space-around;
     margin-top: 1rem;
     width: 100000px;
     color: black;
     font-family: Arial;
     font-size: 30px;
     font-style: normal;
     font-weight: 400;
     line-height: 138.8%; /* 30.536px */
}

.leftcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}

.swipeBTN{
    font-weight: 400;
    color: #F4ECE1;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.8%; /* 18.96px */
    border-radius: 84px;
    background: #2F2F2F;
    box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.20);

    display: inline-flex;
    padding: 28px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.swipe:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.pic{
    max-width: 100%;
    max-height: 100%;
    padding-top: 45%;
    margin-left: -10%;
}

.swipe{
    text-decoration: none;
}

.swipeBTN{
    text-decoration: none;
}

.blurb{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-weight: 400;

}

